@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.hero {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 63%);
  display: none;
}

#videoBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: 3vmax;
}

.heroContainer {
  display: flex;
  gap: 3vmax;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.heroContainer > div {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.heroContainer > div:first-child {
  gap: 3.3vmax;
}

.heroContainer > div:first-child > h1 {
  color: #2d2e32;
  font-size: 3.3vmax;
  text-transform: uppercase;
  font-weight: 900;
}

.heroContainer > div:first-child > p {
  color: #555;
  font-size: 1.6vmax;
  font-family: Arial, Helvetica, sans-serif;
}

.heroContainer > div:first-child > div {
  display: flex;
  align-items: center;
  gap: 1.5vmax;
}

.heroContainer > div:first-child > div > div > a {
  text-decoration: none;
  color: #2d2e32;
  transition: all 0.5s;
}

.heroContainer > div:first-child > div > div > a:hover {
  color: #147efb;
}

.heroContainer > div:first-child > div > div > a > svg {
  font-size: 2.5vmax;
}

.heroContainer > div:last-child > div {
  width: 100%;
  height: 100%;
}

.heroContainer > div:last-child > div > img {
  width: 100%;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: animate 8s ease-in-out infinite;
  border: 5px solid black;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media screen and (max-width: 1050px) {
  .heroContainer {
    flex-direction: column-reverse;
    width: 100%;
  }

  .heroContainer > div {
    width: 60%;
  }

  .heroContainer > div:first-child {
    align-items: center;
  }

  .heroContainer > div:first-child > h1 {
    font-size: 3.3vmax;
    text-align: center;
  }

  .heroContainer > div:first-child > p {
    font-size: 2vmax;
    text-align: center;
  }

  .heroContainer > div:first-child > div > div > a > svg {
    font-size: 4vmax;
  }
}
