.footer {
  width: 100vw;
  max-width: 100%;
  background-color: #2d2e32;
}

.footerContainer {
  display: flex;
  padding: 5.8vmax 12.2vmax;
  justify-content: space-between;
}

.footerContainer > div:first-child > h3 {
  font-weight: bold;
  color: white;
}

.footerContainer > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
}

.footerContainer > div:last-child > div {
  transition: all 0.5s;
}

.footerContainer > div:last-child > div > a {
  text-decoration: none;
  color: white;
}

.footerContainer > div:last-child > div > a > svg {
  font-size: 2vmax;
}

.footerContainer > div:last-child > div:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1050px) {
  .footerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vmax;
    padding: 5.8vmax 1.5vmax;
  }

  .footerContainer > div:first-child > h3 {
    font-size: 2vmax;
  }

  .footerContainer > div:last-child > div > a > svg {
    font-size: 4vmax;
  }
}
